<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>form</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form class="form" action="/topic/new" method="post">
        <input type="text" name="title" placeholder="title" value="">
        <input type="text" name="author" placeholder="author" value="">
        <textarea name="description" rows="8" cols="80"></textarea>
        <input type="submit" name="" value="submit">
      </form>
    </div>
  </body>
</html>
