<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <span>this is main page</span>
      <button type="button" name="button"><a href="/topic">To Bulletin</a></button>
    </div>
  </body>
</html>
